body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(linedpaper.png) repeat;
}
img {
	width:200px;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}
/* Making the H orange*/
h1, h2, h3 {
	color: blue;
}
h4 {
	color: red;
}
#Summary {
	color: red;
}
.unicorn {
	color: purple;
}
h1, h2, h3 {
	font-style: italic;
}
#italic {
	font-style: italic;
}
img { 
	border: 10px solid blue;
}